                        Host Details    
                        ============
Ansible system version is ===============>>> {{ ansible_system }}
Ansible OS family is      ===============>>> {{ ansible_os_family }}
Ansible server FDQN is    ===============>>> {{ ansible_fqdn }}
Ansible hostname is       ===============>>> {{ ansible_hostname }}
Ansible distribution is   ===============>>> {{ ansible_distribution }}
Ansible BIOS date is      ===============>>> {{ ansible_bios_date }}
Ansible BIOS version is   ===============>>> {{ ansible_bios_version }}
Ansible architecture is   ===============>>> {{ ansible_architecture }}
ansible_managed is        ===============>>> {{ ansible_managed }}
local_ip is               ===============>>> {{ ansible_default_ipv4["address"] }}
local_user is             ===============>>> {{ ansible_user_id }}
local_user directory is   ===============>>> {{ ansible_user_dir }}
template_host is          ===============>>> {{ template_host }}
template_uid is           ===============>>> {{ template_uid }}
template_path is          ===============>>> {{ template_path }}
template_fullpath is      ===============>>> {{ template_fullpath }}
template_run_date is      ===============>>> {{ template_run_date }}