<html>
<head>
<center>
<h1> Ansible Roles template Module Demo </h1>
</center>
</head>
<h2> We are conducting {{ class }} on {{ institute }} technologies </h2>
<h2> The hostname of this webserver is {{ ansible_hostname }} </h2>
<h2> It is running on {{ ansible_os_family }} system </h2>
</html>